#!/usr/bin/env bash
# shellcheck disable=SC2148,SC2155

dotenv .env

export GITROOT=$(git rev-parse --show-toplevel || pwd || echo '.')
export PATH="${GITROOT:?}/.bin:${GITROOT:?}/.local/bin:${PATH:?}"
